<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justine.auxilium">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.justine.auxilium.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.justine.auxilium.activities.AddCarActivity" />
        <activity android:name="com.justine.auxilium.activities.AddLandActivity" />
        <activity android:name="com.justine.auxilium.activities.CarSelectActivity" />
        <activity android:name="com.justine.auxilium.activities.LandSearchActivity" />
        <activity android:name="com.justine.auxilium.activities.LandSelectActivity" />
        <activity android:name="com.justine.auxilium.activities.SearchCarActivity" />
        <activity android:name="com.justine.auxilium.activities.SearchItemActivity" />
        <activity android:name="com.justine.auxilium.activities.SelectActivity" />

    </application>

</manifest>