<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justine.auxilium">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".select_add" />
        <activity android:name=".search_item" />
        <activity android:name=".search_car" />
        <activity android:name=".activity_landsearch" />
        <activity android:name=".activity_car_select" />
        <activity android:name=".activity_add_car" />
        <activity android:name=".activity_land_add" />
        <activity android:name=".activity_land_list" />
        <activity android:name=".activity_land_select" />
        <activity android:name=".activity_listing"></activity>
    </application>

</manifest>